<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTutorial.id">
    <h4>Tutorial</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentTutorial.name }}
    </div>
    <div>
      <label><strong>Email:</strong></label>
      {{ currentTutorial.email }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentTutorial.phone }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/tutorials/people/{{ currentTutorial.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentTutorial.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="currentTutorial.email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input
          type="phone"
          class="form-control"
          id="phone"
          [(ngModel)]="currentTutorial.phone"
          name="phone"
        />
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>
